/*custom font*/
@import url(http://fonts.googleapis.com/css?family=Montserrat);

/*form styles*/
#msform {
	margin: 50px auto;
	text-align: center;
}
#msform fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	
	box-sizing: border-box;
	width: 85%;
	margin: 0 10%;
	
	/*stacking fieldsets above each other*/
	/*position: absolute;*/
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/
#msform input, #msform textarea, #msform select  {
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
}


#msform input[type="radio"] {
	-webkit-appearance: radio !important; 
	-moz-appearance: radio !important; 
	-o-appearance: radio !important; 
	-ms-appearance: radio !important; 
	appearance: radio !important;
	margin-left: -35px;
}

 #msform select {
 	height: 55px;
 }

/*buttons*/
#msform .action-button {
	width: 100px;
	background: #27AE60;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}
#msform .save-button {
	width: 100px;
	background: #1EA3F7;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}

#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
/*headings*/
.fs-title {
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar li {
	list-style-type: none;
	color: green;
	text-transform: uppercase;
	font-size: 9px;
	width: 25%;
	float: left;
	position: relative;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #333;
	background: lightgrey;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: black;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: #27AE60;
	color: white;
}

.radio {background:url(../images/payment-radioOn.png) no-repeat left 5px;}
.radio input {position:absolute; left:-999999px; }

.selectBox {
	border: 1px solid grey;
    background: #E4DEDC;
    cursor: pointer;
    width: auto;
    margin-right: 10px;
    line-height: 14px;
    padding: 5px;  
    display: inline-block;  
}

.selectBox .icon-text {
	font-size: 10px;
}

.selected {
	background: #74F71E;
}

.infoSection {
	margin-top: 100px;
}

.login-form {
	width: 500px;
}

.header-rates {
	text-align: center; 
	font-size: 25px; 
	margin-top: 25px;
}

.venue-details label {
	margin-right: 15px;
}

.venue-details select {
	margin-right: 15px;
}

.rates-table tbody td {
	text-align: center;
}

#updateVenueId, #slotType {
	height: 35px;
	width: 100%;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.booking-table tbody td {
	text-align: center;
}

.error-msg {
	color: #ff0000;
	text-align: left;
}

#length, #width, #height {
	width: 80% !important;
	float: left;
}

.feets {
	margin: 5px 0 0 5px;
	float: left;
}

/* Placeholder Styling */

input.placeholder-field {
  /* box-sizing: border-box; */
  width: 100%;
  /* height: calc(3em + 2px); */
  margin: 0 0 1em 5px;
  padding: 1em;
  /* border: 1px solid #cccccc;
  border-radius: 1.5em; */
  background: #fff;
  resize: none;
  outline: none;
}

/* input.placeholder-field:focus {
  border-color: #00bafa;
}

input.placeholder-field:focus + label[placeholder]:before {
  color: #00bafa;
} */


input.placeholder-field + label[placeholder] {
  display: block;
  pointer-events: none;
  line-height: 1.25em;
  margin-top: calc(-3em - 2px);
  margin-bottom: calc((3em - 1em) + 2px);
  margin-left: 0px;
  text-align: left;
  font-weight: normal;
}

div.has-value label[placeholder] {
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
  -webkit-transform: translate(-1.5em, -1em) scale(0.8, 0.8);
          transform: translate(-1.5em, -1em) scale(0.8, 0.8);
  font-style: italic;
}

input.placeholder-field + label[placeholder]:before {
  content: attr(placeholder);
  display: inline-block;
  margin: 0 calc(1em + 2px);
  padding: 0 2px;
  color: #898989;
  white-space: nowrap;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  background-image: -webkit-linear-gradient(top, #ffffff, #ffffff);
  background-image: linear-gradient(to bottom, #ffffff, #ffffff);
  background-size: 100% 5px;
  background-repeat: no-repeat;
  background-position: center;
}