#step1, #step2, #step3, #bookingSteps{
	display: none;
}

#bookingForm input, #bookingForm textarea, #bookingForm select  {
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 8px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 12px;
	height: 40px;
}


#bookingForm input[type="radio"] {
	-webkit-appearance: radio !important; 
	-moz-appearance: radio !important; 
	-o-appearance: radio !important; 
	-ms-appearance: radio !important; 
	appearance: radio !important;
	margin-left: -35px;
}

 #bookingForm select {
 	height: 40px;
 	padding: 0 0 0 10px;
 }
 
 .btns {
 	width: 60px;
 	height: 30px;
 	padding: 5px 0 0 0;
 	margin-bottom: 20px;
 }
 
.btn-next {
	float: right;
	margin-right: 35px;
}

.btn-confirm {
	float: right;
	margin-right: 35px;
	width: 100px;
}

.btn-prev {
	float: left;
	margin-left: 35px;
}

.bookin-info .bookin-table th {
	border-left: solid 1px #efefef;
}

.bookin-info .bookin-table th.first {
	border-left: none;
}

.bookingDetails{
	padding-top: 8px;
}